<div class="container-fluid bg-white rounded-3 p-3 mt-3 mb-3">

    <div class="table-responsive">

        <table id="tbAdminOrdenes" class="table cell-border" style="width:100%;" aria-describedby="example_info">
            <thead class="bg-primary">
                <tr>
                    @* <th class="fw-bold text-center" tabindex="0" rowspan="1" colspan="1" style="width: 15.613px; color:#F4F4F2;"><input id="CheckAll" class="form-check-input" type="checkbox" onclick="SeleccionarTodo()" /></th> *@
                    <th class=" fw-bold text-center" tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="width: 50.2125px;color:#F4F4F2;">N° ORDEN</th>
                    <th class=" fw-bold text-center" tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="width: 50.2125px;color:#F4F4F2;">N° ORDEN LIS</th>
                    <th class=" fw-bold text-center" tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="width: 50.2125px;color:#F4F4F2;">CLIENTE</th>
                    <th class=" fw-bold text-center" tabindex="2" aria-controls="example" rowspan="1" colspan="1" style="width: 75.688px;color:#F4F4F2;">FECHA INGRESO</th>
                    <th class=" fw-bold text-center" tabindex="3" aria-controls="example" rowspan="1" colspan="1" style="width: 100.325px;color:#F4F4F2;">NOMBRE PACIENTE</th>
                    @* <th class=" fw-bold text-center" tabindex="4" aria-controls="example" rowspan="1" colspan="1" style="width: 86.2125px;color:#F4F4F2;">PRECIO</th> *@
                    <th class=" fw-bold text-center" tabindex="5" aria-controls="example" rowspan="1" colspan="1" style="width: 75.8375px;color:#F4F4F2;">ESTADO</th>
                    <th class=" fw-bold text-center" tabindex="6" aria-controls="example" rowspan="1" colspan="1" style="width: 40.325px;color:#F4F4F2;">ACCIÓN</th>
                </tr>
            </thead>

            <tbody id="tbOrdenesAdmin">
            </tbody>


        </table>

    </div>

</div>